# Stud.IP Credentials
USERNAME=your_username_here
PASSWORD=your_password_here

# Telegram Bot
TELEGRAM_TOKEN=123456789:ABCdefGHIjks...
ALLOWED_USER_IDS=12345678,87654321

# 2FA (Optional)
TOTP_SECRET=YOUR_SECRET_KEY_HERE

# Configuration
HEADLESS=true
STUDIP_ICAL_URL=https://elearning.uni-oldenburg.de/dispatch.php/ical/index/YOUR_ID_HERE