# Security
.env
.venv/
__pycache__/
*.pyc

# Logs
*.log
watch_log.txt

# Bot Cache
announcement_cache.json
files_cache.json
messages_cache.json
link_cache.json

# IDE
.idea/
.DS_Store

# Debug / Temp
debug_calendar.py
planner_dump.html
