# Security
.env
.venv/
__pycache__/
*.pyc
.gitignore

# Logs
*.log
watch_log.txt

# Bot Cache & Runtime
announcement_cache.json
files_cache.json
messages_cache.json
forum_cache.json
link_cache.json
.bot_instance.lock

# IDE
.idea/
.DS_Store

# Debug / Temp
*.html
